<!DOCTYPE html>
<html language="en">
<head>
<title>Sahara's Awesome Portfolio</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device=width, initial-scale=1, shrink to-to-fit=no" />
<meta name="description" content="This literal string is what appears in the paragraph that accompanies the link in search results" />
<meta name="keywords" content="This contains the search words used with search engines such as 'HTML, CSS, Nodejs, MVC, Software Engineer, Application developer, Web Developer.'" />
<meta name="author" content="Sahara Maradiaga, Persistant Folly Enterprises" />

<link rel="stylesheet" href="../css/style.css">
<style>
div 
    {border:solid;}



</style>

</head>
<body>
<div>

    
</div>



</body>





</html>